@tailwind base;
@tailwind components;
@tailwind utilities;

.content-wrap {
  width: 100%;
}
@media (min-width: 640px) {
  .content-wrap {
    max-width: 640px;
  }
}
@media (min-width: 768px) {
  .content-wrap {
    max-width: 768px;
  }
}
@media (min-width: 1024px) {
  .content-wrap {
    max-width: 1024px;
  }
}
@media (min-width: 1280px) {
  .content-wrap {
    max-width: 1280px;
  }
}
@media (min-width: 1536px) {
  .content-wrap {
    max-width: 1000px;
  }
}
