@tailwind base;
@tailwind components;
@tailwind utilities;

.content-wrap {
  width: 100%;
}
@media (min-width: 640px) {
  .content-wrap {
    max-width: 640px;
  }
}
@media (min-width: 768px) {
  .content-wrap {
    max-width: 768px;
  }
}
@media (min-width: 1024px) {
  .content-wrap {
    max-width: 1024px;
  }
}
@media (min-width: 1280px) {
  .content-wrap {
    max-width: 1280px;
  }
}
@media (min-width: 1536px) {
  .content-wrap {
    max-width: 1000px;
  }
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #003893;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #0254d8;
}

.bg-marketing {
  /* background: #dd3327; */
  background: linear-gradient(
    180deg,
    rgba(0, 56, 147, 0.5998774509803921) 0%,
    rgba(0, 56, 147, 1) 75%,
    rgba(0, 56, 147, 1) 100%
  );
}

.bg-mountain {
  background-image: url("../public/svg/bg-marketing.svg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: difference;
  --tw-bg-opacity: 0.8;
}

.padding-mobile-x {
  @apply px-4;
}

.padding-tablet-x {
  @apply px-8;
}

.padding-large-x {
  @apply px-16;
}

.bg-gradient {
  background: rgb(0, 56, 147);
  background: linear-gradient(
    300deg,
    rgba(0, 56, 147, 1) 0%,
    rgba(111, 54, 93, 1) 65%
  );
}
